html,body{
    height: 100%;
}

.row h1,h2,h3{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}

.row p{
    margin-top: 18px;
    font-size: 25px;
}

.jumbotron{
 background-color: yellowgreen;
 text-align: center;
 margin-top: 40px;
}

footer{
    left: 0;
    bottom: 0;
    padding: 30px;
    width: 100%;
    color: white;
    background: black;
    text-align: center;
}

.col-sm-4 li{
    margin-top: 5px;
    list-style-type: none;
}

.col-sm-4 li a{
display: block;
justify-content: center;
}
.col-sm-12{
    text-align: center;
}
.col-sm-12 img{
    margin-top: 50px;
}
.card{
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.footer-address-icon{
    padding-right: 10px;
  
}

.navbar-nav.navbar-center {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.card{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 100%;
}
