$yellow: #00ffff ;
$green: green;
$red: red;


@mixin margenes ($top,$bottom){
    margin-top: $top;
    margin-bottom: $bottom ;
}
html,body{
    height: 100%;
}

.row h1,h2,h3{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}

.row p{
    margin-top: 18px;
    font-size: 25px;
}

.jumbotron{
 background-color: $yellow;
 text-align: center;
 @include margenes(40px, 0px);
}

footer{
    left: 0;
    bottom: 0;
    padding: 30px;
    width: 100%;
    color: white;
    background: $red;
    text-align: center;
}

.col-sm-4 li{
    @include margenes(5px,0px);
    list-style-type: none;
}

.col-sm-4 li a{
display: block;
justify-content: center;
}
.col-sm-12{
    text-align: center;
    color: $yellow;
}
.col-sm-12 img{
   @include margenes(50px, 0px);
}
.card{
    padding: 2px 5px 2px 5px;
   @include margenes(10px,0px );
}

.footer-address-icon{
    padding-right: 10px;
  
}

.navbar-nav.navbar-center {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.card{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 100%;
}
