html, body {
  height: 100%; }

.row h1, h2, h3 {
  text-align: center;
  margin-top: 50px;
  font-size: 40px; }

.row p {
  margin-top: 18px;
  font-size: 25px; }

.jumbotron {
  background-color: #00ffff;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0px; }

footer {
  left: 0;
  bottom: 0;
  padding: 30px;
  width: 100%;
  color: white;
  background: red;
  text-align: center; }

.col-sm-4 li {
  margin-top: 5px;
  margin-bottom: 0px;
  list-style-type: none; }

.col-sm-4 li a {
  display: block;
  justify-content: center; }

.col-sm-12 {
  text-align: center;
  color: #00ffff; }

.col-sm-12 img {
  margin-top: 50px;
  margin-bottom: 0px; }

.card {
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
  margin-bottom: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.navbar-nav.navbar-center {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  
}

.card {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100%; }
